.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
    transition: ease 0.5s;
  }


  #dashboard-menu:hover {
    transform: translate(-1.5%, -1.5%);
    transition: transform 0.45s;
  }


  #table-div {
    margin-bottom: 10px;
  }

  #dashboard-list:hover {
    background-color: #3b82f6;
    color: white;
  }

  h3{
    font-weight: bold;
  }


  .card1 {
    box-sizing: border-box;
    width: 28vw;
    height: 12em;
    background: rgba(217, 217, 217, 0.879);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    /* box-shadow:  20px 20px 48px #989898,
             -20px -20px 48px #ffffff; */
    /* clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card1:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .card1 button {
    /* padding: 2em 6em; */
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(179, 97, 97);
    transition: .4s ease-in-out;
  }
  .card1 button:hover {
    background: rgb(179, 97, 97);
    color: white;
    cursor: pointer;
  }




  .card {
    box-sizing: border-box;
    width: 28vw;
    height: 12em;
    background: #cc8888;
    border: 2px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    /* box-shadow:  20px 20px 48px #989898,
             -20px -20px 48px #ffffff; */
    /* clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .card button {
    /* padding: 2em 6em; */
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: rgba(217, 217, 217, 0.879)  ;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  .card button:hover {
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }




  .card2 {
    box-sizing: border-box;
    width: 28vw;
    height: 12em;
    background: #ffffff;
    border: 2px solid rgb(179, 97, 97);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    /* box-shadow:  20px 20px 48px #989898,
             -20px -20px 48px #ffffff; */
    /* clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    user-select: none;
    font-weight: bolder;
    color: rgb(179, 97, 97);
  }
  
  .card2:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .card2 button {
    /* padding: 2em 6em; */
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #000000;
    color: #ffffff;
    transition: .4s ease-in-out;
  }
  .card2 button:hover {
    background: rgba(217, 217, 217, 0.879);
    color: rgb(179, 97, 97);
    cursor: pointer;
  }